body{
    font-family: 'Barlow', sans-serif;
    margin:0;
    padding: 0;
}

h1,h2, h3, h4, h5 {
    text-align: center;
    text-transform: uppercase;
}

.center {
    margin: 0 auto; 
    width:19%;
}

#logo{
    margin: 0 auto;
    margin-bottom: 20px;
    width:300px;
    height: auto;
    display: block;
}

.g-recaptcha{
   
    width:100%;
}


input{
    width: 100%;
    padding: 12px 20px;
    margin: 1px 1px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.button-green{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button-blue{
    background-color: #008CBA;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;

}

.button-grey{
    background-color: #555555;
    color:white;
    padding: 14px 20px;
    margin: 10px 0;
    border: 2px solid #555555;
    cursor: pointer;
    width: 100%;
}

.button-grey:hover {
   background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button-small{
    padding: 2px 5px;
    background-color: #4CAF50; 
     border: 2px solid #4CAF50;
    color: white;
  
   
}

.button-small:hover {
   background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.normal-link{
    color: buttonshadow;
    text-decoration: underline;
    display: inline-block;
}

a:hover{
    opacity:0.8;
    cursor:pointer;
}

.header{
     background-color: #73C8A9;
     height:100px;
}

.header-links {
    overflow: hidden;
    background-color: #373B44;
}

.header-links a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.logout-btn {
   background: url('images/logout.png');
   width:50px;
   height:50px;
}


.center1 {
    margin: 0 auto; 
    width:40%;
}

.center2 {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:60%;
}
    

table{
   
    width:60%;
    margin:0 auto;
}

#sellers td, #sellers th {
    border: 1px solid #ddd;
    padding: 8px;
}


tr:nth-child(even){background-color: #f2f2f2;}

th, td {
    padding: 10px;
    text-align: center;
    
}

.order-table{
    width:100%;
    border-spacing: 0px;
    border-collapse:collapse; 
    border:1px solid black;
}

#main {
    margin-right: auto;
    width: 70%;
}

.short_input {
    width: 80px;
}

.item {
    display: inline-block;
    text-align: center;
    width: 200px;
    min-height: 160px;
    margin: 1em;
    border: 1px solid black;
    vertical-align: top;
}

.item img{
    height: 200px;
    width: auto;
}

.header img{
    width: 300px;
    height: auto;
}

.cart {
    padding: 1em;
    position: fixed;
    height: 80%;
    margin-bottom: 10%;
    margin-top: 10%;
    float: right;
    top: 0;
    right: 0;
    border: 1px solid black;
    min-width: 30%;
}
